<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Activity</string>
			<key>id</key>
			<string>item_0</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_0</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>AirplaneMode</string>
			<key>id</key>
			<string>item_1</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_1</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Battery</string>
			<key>id</key>
			<string>item_2</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_2</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>BatteryPercent</string>
			<key>id</key>
			<string>item_3</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_3</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Bluetooth</string>
			<key>id</key>
			<string>item_4</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_4</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>BluetoothBattery</string>
			<key>id</key>
			<string>item_5</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_5</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>DataNetwork</string>
			<key>id</key>
			<string>item_6</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_6</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Airplay</string>
			<key>id</key>
			<string>item_7</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_7</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Alarm</string>
			<key>id</key>
			<string>item_8</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_8</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CallForward</string>
			<key>id</key>
			<string>item_9</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_9</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RotationLock</string>
			<key>id</key>
			<string>item_10</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_10</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Siri</string>
			<key>id</key>
			<string>item_11</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_11</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>TTY</string>
			<key>id</key>
			<string>item_12</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_12</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>VPN</string>
			<key>id</key>
			<string>item_13</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_13</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Location</string>
			<key>id</key>
			<string>item_14</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_14</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Not Charging</string>
			<key>id</key>
			<string>item_15</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_15</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Quiet Mode</string>
			<key>id</key>
			<string>item_16</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_16</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Service</string>
			<key>id</key>
			<string>item_17</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_17</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Signal Strength</string>
			<key>id</key>
			<string>item_18</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_18</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Thermal Color</string>
			<key>id</key>
			<string>item_19</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_19</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Time</string>
			<key>id</key>
			<string>item_20</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.wink</string>
			<key>key</key>
			<string>item_20</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.wink/settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>StatusBar Items</string>
</dict>
</plist>
